/* Set the background color for the entire page */
body {
    background-color: #121212;  
    color: #ffffff;  
}

/* Container styling for Data Page */
.data-container {
    margin-top: 32px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1e1e1e; 
    padding: 20px;
    border-radius: 8px;
}

/* Heading Styling */
.data-page-title {
    text-align: center;
    margin-bottom: 24px;
    color: #ffffff;  
}

/* Paper styling for the list */
.data-paper {
    padding: 16px;
    background-color: #2a2a2a;  
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

/* List styling */
.data-list {
    padding-left: 0;
}
/* Styling for each list item */
.data-list-item {
    background-color: #1e1e1e;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* Item text styling */
.data-item-text {
    color: #ffffff;  
    font-size: 16px;
}

/* Category text styling */
.data-item-category {
    font-weight: bold;
    color: #ff9800;  
}

.css-1gtchvp-MuiPaper-root {
    background-color: #121212 !important;
}